@import "./reset", "./variable";

.main {
  //   background-image: url(../assets/natours.png);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact_container {
  padding: 3em 20rem;
}
.contact_container_top {
  padding: 2em 15rem;
}

.contact_text1 {
  font-size: 2em;
  padding-bottom: 0.4em;
  animation: moveright 1s ease-in;
}

.contact_info {
  display: flex;
  padding: 2em 0;
}
.contact_info_1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: moveleft 1s ease-in;
}
.contact_me {
  font-size: 1.3em;
  font-weight: 600;
}
.contact_info_2 {
  width: 50%;
  animation: moveup 1s ease-in;
}
.info_2 {
  padding-bottom: 1em;
  font-size: 1.2em;
  font-weight: 500;
}
.info_2 a {
  text-decoration: none;
  color: $primary-back-col;
  transition: all 0.5s ease-in;

  &:hover {
    color: $complement-five;
    animation: moveup 0.5s ease-in;
    font-weight: 400;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .contact_container {
    padding: 0em 7rem;
    padding-left: 12rem;
  }
  .contact_container_top {
    padding: 0em 12rem;
    padding-top: 3em;
  }
  .contact_text1 {
    font-size: 2.2em;
    font-weight: 700;
  }
  .contact_me {
    font-size: 2em;
    font-weight: 600;
  }
  .info_2 {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 869px) and (max-width: 1024px) {
  .contact_container {
    padding: 0em 7rem;
    padding-left: 9rem;
  }
  .contact_container_top {
    padding: 0em 9rem;
    padding-top: 3em;
  }
  .contact_text1 {
    font-size: 2.2em;
    font-weight: 700;
  }
  .contact_me {
    font-size: 2em;
    font-weight: 600;
  }
  .info_2 {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 701px) and (max-width: 868px) {
  .contact_container {
    padding: 0em 7rem;
    padding-left: 11rem;
  }
  .contact_container_top {
    padding: 0em 7rem;
    padding-top: 3em;
  }
  .contact_text1 {
    font-size: 2.2em;
    font-weight: 700;
  }
  .contact_me {
    font-size: 2em;
    font-weight: 600;
  }
  .info_2 {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  .contact_container {
    padding: 0em 2rem;
  }
  .contact_container_top {
    padding: 0em 2rem;
    padding-top: 3em;
  }
  .contact_text1 {
    font-size: 2.2em;
    font-weight: 700;
  }
  .contact_me {
    font-size: 2em;
    font-weight: 600;
  }
  .info_2 {
    font-size: 1.8em;
  }
}

////////////////////////////////////

@keyframes moveright {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveleft {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveup {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
